
header {
  margin: 0 auto;
}

body {
  background-color: #f5f5f5;
  width: 980px;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;

}

h1 {
  text-align: center;
  font-family: "Candal";
  font-size: 48px;
}

h2 {
/*  width: 600px;*/
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  font-weight: lighter;
}

h3 {
/*  width: 600px;*/
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  font-weight: lighter;
  padding: 25px;
}

h4 {
  font-size: 20px;
}

li {
  display: inline-block;
}

img {
  width: 175px;
  height: 175px;
  max-width: 100%;
}

/* hover image*/ 

.card {
  position: relative;
  width: 175px;
  height: 175px;
  border: solid 1px black;
  background-color: lightgray;
  float: left;
  margin: 5px;
}

.shops {
  padding-top: 100px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
/*  backface-visibility: hidden;*/
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover .overlay {
  opacity: 1;
}

.image:hover {
  opacity: 0.3;
}

.shopname {
  width: 100%;
  background-color: white;
  padding: 5px;
  text-align: center;
}

legend {
  font-style: bold;
}

.criteria, .location {
  margin: 0 auto;
/*  width: 600px;*/
  padding: 25px;
  line-height: 25px;
}

.criteria {
  margin-bottom: 10px;
}

.criteria div {
  float: left;
  padding-right: 15px;
}

.location div {
  float: left;
  padding-right: 15px;
}

.shops {
/*  width: 600px;*/
  margin: 0 auto;
}

footer {
  clear: left;
  /*width: 600px;*/
  object-position: center;
  margin: 0 auto;
  padding-top: 5px;
}

/* all modals */

/*wonder if there is a selector that will work for this*/

#amplehillsdetails, #oddfellowsdetails, #softswervedetails, 
#superiorityburgerdetails, #vanleeuwendetails, #gelatodetails, 
#cedarsdetails, #morgensternsdetails, #biggayicecreamdetails, 
#iceandvicedetails, #conesdetails, #chinatowndetails {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* buttons */

button {
  font-size: 16px;
  background-color: white;
  padding: 5px;
  text-align: center;
  border: none;
}


/*@media only screen and (max-width: 320px){
  .shops {
    width: 300px;
  }

}

@media only screen and (max-width: 480px) {
  .shops {
    width: 450px;
  }

}

@media only screen and (max-width: 700px) {
  .shops {
    width: 500px;
  }*/

}

@media only screen and (max-width: 930px){
  .shops {
    width: 900px;
  }
  body {
    width: 700px;
  }


}
